
:root {
    --primary-color: #79589F;
    --secondary-color: #6e5baa;
    --dark-color: #260040;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --grey-color: #cccccc;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 30px;
    line-height: 25px;
}


h1 {
    font-size: 30px;
    font-weight: 300;
}

p {
    font-weight: 300;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    color: #333;
    font-weight: 300;
    padding: 30px;
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Navbar */

.navbar {
    background-color: var(--primary-color);
    height: 70px;
    color: var(--light-color);
}

.nav-items {
    display :flex;
    list-style: none;
}

.nav-items li {
    padding: 20px;
    font-weight: 300;
}

.nav-items a {
    text-decoration: none;
    color: var(--light-color);
}

.nav-items li:hover {
    border-bottom: 2px solid var(--light-color);
}

/* Showcase */

.showcase {
    background-color: var(--primary-color);
    height: 400px;
    position: relative;
    color: var(--light-color);
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
}

.showcase-content,
.showcase-form {
    width: 40%;
}

.showcase-content {
    animation: slideFromLeft 1s ease-in;
}

.showcase-content h1 {
    margin-bottom: 20px;
    font-size: 35px;
}
.showcase-content p {
    margin-bottom: 25px;
}

.showcase-content a {
    text-decoration: none;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 300;
}

.showcase-form {
    position: relative;
    height: 350px;
    z-index: 100;
    animation: slideFromRight 1s ease-in;
}

.showcase-form h2 {
    margin-top: 20px;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    font-size: 16px;
    padding: 5px;
}

.form-control {
    margin: 25px 0;
}

.showcase-form input:focus {
    outline: none;
}

.showcase-form input[type='submit'] {
    background-color:  var(--primary-color);
    color: var(--light-color);
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* stats */

.stats {
    padding-top: 100px;
    text-align: center;
    animation: slideFromBottom 1s ease-in;
}

.stats h4 {
    font-size: 20px;
    font-weight: 300;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

/* Animations */

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* cli */
.cli {
    margin-top: 40px;
}
.cli .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    justify-content: center;
    gap: 20px;
}
.cli img {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
/* cloud */
.cloud {
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 40px 0;
    padding: 20px;
}
.cloud .grid {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.cloud .grid .cloud-hosting-text {
    text-align: center;
}
.cloud .grid .cloud-hosting-text p {
    margin: 20px;
}
.cloud .grid .cloud-hosting-text a {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.cloud .grid img {
    width: 100%;
}
/* languages */
.languages {
    margin-bottom: 30px;
}
.languages .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}
.languages .card {
    padding: 20px;
    text-align: center;
}
.languages .card:hover {
    transform: translateY(-20px);
    transition: transform 0.3s ease-out;
}

.languages h1 {
    text-align: center;
    margin-bottom: 30px;
}
.languages h4 {
    margin-bottom: 10px;
}
/* footer */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 40px 0;
}
footer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer nav a {
    color: var(--light-color);
    text-decoration: none;
}
footer .social a {
    color: var(--light-color);
    margin-right: 10px;
}
footer .social .fa-github:hover {
    color: black;
}
footer .social .fa-facebook:hover {
    color: #4267B2;
}
footer .social .fa-instagram:hover {
    color: #fe472b;
}
footer .social .fa-twitter:hover {
    color: #35a2f6;
}
/* features */
.features {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 30px 0;
}
.features h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.features .grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.features img {
    width: 100%;
}
/* intro */
.intro {
    padding: 20px;
}
.intro .grid {
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    gap: 20px;
}
.intro h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.intro img {
    width: 100%;
}
/* features body */
.features-body {
    margin-bottom: 40px;
}
.features-body .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.features-body .grid > *:first-child {
    grid-column: 1 / span 3;
}
.features-body .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}
.features-body .card {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
/* docs */
.docs {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 20px;
}
.docs .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.docs h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.docs img {
    width: 200px;
    display: flex;
    justify-self: flex-end;
}
.docs-main {
    margin: 30px;
}
.docs-main .flex {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.docs-main .sidebar {
    background-color: var(--grey-color);
    flex: 1;
}
.docs-main .content {
    flex: 2;
}
.docs-main .sidebar a {
    color: var(--dark-color);
    text-decoration: none;
}
.docs-main .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.docs-main .sidebar li {
    border-bottom: 1px solid var(--dark-color);
    padding: 5px 0;
}
.alert {
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}
.alert-success {
    background-color: var(--success-color);
    color: var(--light-color);
}
.alert-dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}
.btn-primary {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
}


